<h1>Ask More Details</h1>
<h1 class = "text-dark text-center bg-light" >Doctor Name:<%= @doctor.doctor_name %> </h1>
<h1 class = "text-dark text-center bg-light" >Patient Name:<%= @patient.patient_name %></h1> 


<%= form_with url: doctorseeks_path do |form| %>
 
<div class="mb-3">
    
    <%= form.hidden_field :doctor_id, :value => @doctor.id%>
</div>    
<div class="mb-3">

    <%= form.hidden_field :patient_id, :value => @patient.id %>
</div>  
<div class="mb-3">

    <%= form.hidden_field :doctorappoint_id, :value => @doctorappoint.id %>
</div>  
<div class="mb-3">

    <%= form.hidden_field :doctor_name, :value => @doctor.doctor_name %>
</div> 


<div class="mb-3">
    <%= form.label :notes %>
    <%= form.text_field :notes, class:"form-control", placeholder:"Ask more Details"%>
</div>    
   
<div class="mb-3">
    <%= form.submit 'submit', class:"btn btn-primary"%>
</div>    
<% end %>
