</br>
<h1 class = "text-light text-center bg-dark">Patient List</h1>

<div class="patient_page">

<%= link_to "Add New Patient", new_patient_path ,class:"btn btn-secondary btn-lg" %>
</div>
<br>
  <%# <table class="table table-striped table-hover table-bordered table-sm">
  <thead class="table-dark">
    <tr>
      <th>Pateint name</th>
      <th>Address</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Email</th>
      <th>Phone</th>
  
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <%# <tr>
        <td><%= patient.patient_name %>
        <%# <td><%= patient.address %>
        <%# <td><%= patient.gender</td> %> 
        <%# <td><%= patient.dob %>
        <%# <td><%= patient.email %>
        <%# <td><%= patient.phone %>
      <%# </tr> %>
    <%# <% end %> 
  <%# </tbody>
</table>  %>
