<h1 class = "text-dark text-center bg-light" ><%= @patient.patient_name %> </h1>

<%# <nav class="navbar navbar-dark bg-dark justify-content-between"  >
  <a class="navbar-brand">Navbar</a>
  <div class="row">
    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 btn-sm" type="submit">Search</button>
  </div>
</nav> %>
<br>
<%= link_to 'Prescription', patients_prescription_path  ,class:"btn btn-primary" %>&nbsp;
<%= link_to 'PreviousRecords', patients_previousrecords_path  ,class:"btn btn-primary" %>&nbsp;
<%= link_to 'Edit profile', edit_patient_path(@patient.id)  ,class:"btn btn-primary" %>
<%= link_to 'Doctor seek Details', patients_doctorseeks_path  ,class:"btn btn-primary" %>
<%= link_to 'patient profile', patients_profile_path  ,class:"btn btn-primary" %>
<br>
<%= render 'patients/search_form.html.erb'%>
<h1 class = "text-dark text-center bg-light">Doctor List </h1>

 <table class="table table-striped table-hover table-bordered table-sm">
  <thead class="table-dark">
    <tr>
      
      <th>Hospital name</th>
      <th>Doctor name</th>
      <th>Address</th>
      <th>Department</th>
      <th>Qualification</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Appoint</th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        
        <td><%= doctor.hospital_name %></td>
        <td><b>Dr.&nbsp;</b><%= doctor.doctor_name %></td>
        <td><%= doctor.address %></td>
        <td><%= doctor.department %></td>
        <td><%= doctor.qualification %></td>
        <td><%= doctor.email %></td>
        <td><%= doctor.phone %></td>
        <td><%= link_to 'Symptoms', doctorappoints_path(:doctor_id => doctor.id) ,class:"btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


