

<%= form_with model: [ @hospital, @hospital.doctors.build ] do |form| %>
<div class="row">
    <div class="col-md-6">
  
    <%= form.text_field :doctor_name ,class:"form-control" ,placeholder:"Doctor name" %>
  </div>
  

  <div class="col-md-6">

    <%= form.text_field :address ,class:"form-control" ,placeholder:"address"%>
  </div>
</div>
</br>
<div class="row">
  <div class="col-md-6">
    
    <%= form.select(:department, options_for_select([['Dental'], ['Gyneac'] , ['Surgery'] , ['Orthopedia']]))%>

  </div>

  <div class="col-md-6">
  
    <%= form.text_field :qualification ,class:"form-control" ,placeholder:"qualification"%>
  </div>
</div>  
<%= form.hidden_field :hospital_name, :value => @hospital.hospital_name %>
</br>
<div class="row">
  <div class="col-md-6">
    <%= form.label :dob %>
    <%= form.date_field :dob %>
  </div>

  <div class="col-md-6">
    Gender&nbsp;
    <%= form.radio_button :gender, 'Male' %> Male
    <%= form.radio_button :gender, 'Female' %> Female
  </div>
</div>    

<br>
<div class="row">
  <div class="col-md-6">

    <%= form.text_field :email ,class:"form-control" ,placeholder:"email"%>
  </div>

  <div class="col-md-6">

    
    <%= form.number_field :phone ,class:"form-control" ,placeholder:"phone number"%>
  </div>
</div>  
</br>
<div class="row">
  <div class="col-md-6">
   
    
    <%= form.password_field :password ,class:"form-control",placeholder:"password" %>
  </div>

  <div class="col-md-6">
    <%= form.password_field :password_confirmation ,class:"form-control",placeholder:"password confirmation "%>
    
  </div>
</div>
</br>
  <div class="actions text-center">
    <%= form.submit nil, class: 'btn btn-success' %>
   
  </div>
  </br>
<% end %>